{% extends 'base_page.html' %}
{% block content %}
<div class="row">
  <div class="col-12">
      <div class="page-title-box">
          <h4 class="page-title">Accounts</h4>
      </div>
  </div>
</div>
<!-- end page title -->

<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <div class="row mb-2">
                  <div class="col-sm-4">
                    <div style="display: flex; flex-direction: row;">
                        <input class="form-control me-1" name="search" placeholder="{{usercount}} records..." type="search">
                        <button type="submit" class="btn btn-primary"> <i class="mdi mdi-magnify search-icon"></i></button>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="text-sm-end">
                        <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button>
                    </div>
                </div> 
            </div>
            <div class="table-responsive">
                  <table class="table table-centered w-100 dt-responsive nowrap" id="products-datatable">
                      <thead class="table-light">
                          <tr>
                              <th class="all">#</th>
                              <th>Type</th>
                              <th>Account</th>
                              <th>Company</th>
                              <th>Location</th>
                              <th>Created</th>
                              <th>Last Activity</th>
                              <th>Status</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for user in users %}
                          <tr>
                            <td>
                                {{forloop.counter}}.                                
                            </td>
                              <td>
                                {% if user.is_superuser %}
                                <p class="m-0 d-inline-block align-middle font-16">
                                    <span style="border: 2px solid green;border-radius: 40px; color: green; background-color: white;" class="badge badge-pill">Administration</span>
                                </p>
                                {% elif user.is_staff %}
                                <p class="m-0 d-inline-block align-middle font-16">
                                    <span style="border: 2px solid lightblue;border-radius: 40px; color: blue; background: white;" class="badge badge-pill ">Guide</span>
                                </p>
                                {% else %}
                                <p class="m-0 d-inline-block align-middle font-16">
                                    <span style="border: 2px solid rgb(235, 171, 235);border-radius: 40px; color: rgb(241, 186, 241); background: white;" class="badge badge-pill ">Guidee</span>
                                </p>
                                {% endif %}
                            </td>
                              <td>
                                <span class="account-user-avatar">
                                    {% for item in userdata  %}
                                {% if item.userrelation.username == user.username %}
                                  {% if item.profilepic %}
                                   <img src="{{item.profilepic.url}}" alt="user-image" class="rounded-circle" height="38px" width="38px">
                                  {% else %}
                                  <img src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png" alt="user-image" class="rounded-circle" height="38px" width="38px">
                                  {% endif %}
                                {% endif %}
                               {% endfor %}
                                </span>{{user.username}}                                
                              </td>
                              <td>
                                {% for item in userdata  %}
                                {% if item.userrelation.username == user.username %}
                                  {% if item.company %}
                                   {{item.company}}
                                  {% else %}
                                  -------
                                  {% endif %}
                                {% endif %}
                               {% endfor %}
                              </td>
                              <td> 
                                  {% for item in userdata  %}
                                     {% if item.userrelation.username == user.username %}
                                        {{item.country.name}}
                                     {% endif %}
                                    {% endfor %}
                              </td>
                              <td>
                                  {{user.date_joined.date}}
                             </td>
                             <td>
                                  {{user.last_login.date }}
                              </td>
                              <td>
                                {% if user.is_active %}
                                    <p class="m-0 d-inline-block align-middle font-16">
                                        <span class="badge bg-success">Active</span>
                                    </p>
                                {% else %}
                                <p class="m-0 d-inline-block align-middle font-16">
                                    <span class="badge bg-danger"> Not Active</span>
                                </p>
                                {% endif %}
                                  
                              </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div> <!-- end card-body-->
      </div> <!-- end card-->
  </div> <!-- end col -->
</div>
{% endblock %}