{% extends 'base_page.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="adminuser/dashboard">Home</a></li>
                    </ol>
                </div>
                <h1 class="page-title">Admin Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="card border-light mb-3" style="max-width: 28rem;">
      <div class="card-header">Total Accounts: {{totaluser}}</div>
      <div class="card-body">
        <canvas id="pie-chart"></canvas>
        <ul>
          <li class="badge text-danger border border-danger" >Admin: {{userdata.0}}</li><br>
          <li class="badge text-primary border border-primary" >Guide: {{userdata.1}}</li><br>
          <li class="badge text-success border border-success" >Guidee: {{userdata.2}}</li>
        </ul>
      </div>
    </div>
    
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
      <script>

        var config = {
          type: 'doughnut',
          data: {
            datasets: [{
              data: {{ userdata|safe }},
              backgroundColor: [
                'red', 'lightblue', 'lightgreen'
              ],
              
            }],
            labels: {{ userlabels|safe }},
          },
          options: {
            responsive: true
          }
        };
    
        window.onload = function() {
          var ctx = document.getElementById('pie-chart').getContext('2d');
          window.myPie = new Chart(ctx, config);
        };
    
      </script>
    
{% endblock %}