{% extends 'base_page.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'guidee-dashboard' %}">Home</a></li>
                    </ol>
                </div>
                <h1 class="page-title">My StepGuides</h1>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for guide in guides %}
        <div class="col">
          <div class="card h-100">
            <img src="https://images.ctfassets.net/hrltx12pl8hq/4Gm9a6lQkjssolwXfpN1qV/2f45dc21404aac7b3b6e26b5c6827f7b/01-technology_1421446100.jpg?fit=fill&w=480&h=270" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{guide.username}}</h5>
              {% for workflow in workflows %}
              {% if workflow.user == guide %}
             <a href="{% url 'guidee-steps' workflow.id %}">
              <p class="card-text">{{workflow.description}}</p>
            </a>
            {% endif %}
            {% endfor %}
            </div>
          </div>
        </div>
    {% endfor %}
      </div>
{% endblock %}