{% load crispy_forms_filters %}
{% load i18n %}
<!-- Modal -->
<div class="modal fade" id="staticBackdropeditworkflow{{template.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="staticBackdropLabel">Edit Standard Workflow</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div> <!-- end modal header -->
            <div class="modal-body">
              <form action="{% url 'edit_workflows' template.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %} 
                <label for="description">Description</label>
                <input class="form-control mb-2" type="text" placeholder="Description"  value="{{template.description}}" name="description" required >
               
                <label for="lead">Lead</label>
                <select id="lead" name="lead"  class="form-control data-form">
                  <option value="GUIDE">Guide</option>
                  <option value="GUIDEE">Guidee</option>
                  <option value="BACK OFFICE">Backoffice</option>
                </select>    
              <br/>  
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save</button>
              </div> 
        </form>
            </div>
        </div> <!-- end modal content-->
    </div> <!-- end modal dialog-->
</div>