{% extends 'base_page.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/customerworkflows">Customer Workflow</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'customerworflow-steps' customerworkflow.id %}">Standard Workflow Steps</a></li>
                      <li class="breadcrumb-item"> Edit Customer Workflow Steps</li>
                </ol>
            </div>
            <h4 class="page-title">Edit Customer Workflow Step</h4>
        </div>
    </div>
</div>
<div class="row">
    <p> {{customerworflow.description}}  
        <span style="margin-left:6px;" class="badge bg-success">{{customerworflow.get_step_count}} Steps </span>
    </p>
     <p>Step: {{step.description}}</p>
    <div class="col-12">
        <div class="d-flex flex-column h-100 rounded-3 shadow-lg p-4">
            <div class="py-2 p-md-3">
              <form method="post" action="{% url 'edit-customerworflow-steps' customerworkflow.id step.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                 {{form.count|as_crispy_field}}<br/>
                 {{form.description|as_crispy_field}}<br/>
                 {{form.instruction|as_crispy_field}}<br/>
                 {{form.visibility|as_crispy_field}}<br/>
                 {{form.download|as_crispy_field}}<br/>
                 {{form.step_file|as_crispy_field}}<br/>
                 {{form.upload|as_crispy_field}}
                 <br/>
              <div class="modal-footer">
                  <a href="{% url 'customerworflow-steps' customerworkflow.id %}">      
                      <button type="button" class="btn btn-secondary">Cancel</button>
                  </a>
                  <button type="submit" class="btn btn-primary">Save</button>
              </div> 
            </form>
          </div>
        </div>
    </div>
</div>
{% endblock %}