{% extends 'base_page.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column h-100 rounded-3 p-4">
              <div class="py-2 p-md-3">
                <div class="d-sm-flex align-items-center justify-content-between pb-4 text-center text-sm-start">
                  <h1 class="h3 mb-2 text-nowrap">Update Standard Workflow</h1>
                </div>
                <form method="post">
                  {% csrf_token %}
                   {{form|crispy}}
                    <br/>
                      <button type="submit" name="save" class="btn btn-success mr-2">{% trans 'Save' %}</button>
                      <a href="/workflows">
                        <button type="button" class="btn btn-light m-2">{% trans 'Cancel' %}</button>
                      </a>
                </form>
              </div>
            </div>
        </div>
        <!-- end col-12 -->
    </div> <!-- end row -->
{% endblock %}