{% load crispy_forms_filters %}
{% load i18n %}
<!-- Modal -->
<div class="modal fade" id="staticBackdropeditcustomer{{customer.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="staticBackdropLabel">Edit Customer</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div> <!-- end modal header -->
            <div class="modal-body">
              <form action="{% url 'edit_customer' customer.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %} 
                <label for="customer_name">Customer Name</label>
                <input class="form-control mb-2" type="text" placeholder="Enter Customer Full Name"  value="{{customer.customer_name}}" name="customer_name" required > 
               
                <label for="phone_number">Phone Number</label>
                <input class="form-control mb-2" type="number" placeholder="Enter Customer's Phone Number"  value="{{customer.phone_number}}" name="phone_number" required > 
               
                <label for="email">Email</label>
                <input class="form-control mb-2" type="email" placeholder="Enter Customer's Email Address"  value="{{customer.email}}" name="email" required > 
                
                <label for="location">Location</label>
                <input class="form-control mb-2" type="text" placeholder="Enter Customer's Location"  value="{{customer.location}}" name="location" required > 
              <br/>  
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save</button>
              </div> 
        </form>
            </div>
        </div> <!-- end modal content-->
    </div> <!-- end modal dialog-->
</div>