{% load crispy_forms_filters %}
{% load i18n %}
<!-- Modal -->
<div class="modal fade" id="staticBackdropeditstep{{step.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="staticBackdropLabel">Edit Standard Workflow Step</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div> <!-- end modal header -->
            <div class="modal-body">
              <form action="{% url 'edit_steps' project_template.id step.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %} 
                <label for="count">Step Number</label>
                <input class="form-control mb-1" type="number" placeholder="Ex. 1.0"  value="{{step.count}}" name="count" required >

                <label for="description">Description</label>
                <input class="form-control mb-1" type="text" placeholder="Description"  value="{{step.description}}" name="description" required >

                <label for="instruction">Instructions</label>
                <input class="form-control mb-1" type="text" placeholder="Enter Detailed Step Instructions"  value="{{step.instruction}}" name="instruction" required >
               
                <label for="visibility">Step Visibile</label>
                <input class="mb-1"  type="checkbox" value="{{step.visibility}}" name="visibility" {% if step.visibility %} checked {% endif %} >
               
                <label for="download">Download control visible</label>
                <input class="mb-1" type="checkbox"  value="{{step.download}}" name="download">
               
                <label for="step_file">File for download</label>
                <input class="form-control mb-1" type="file"  value="{{step.step_file}}" name="step_file" required>
               
                <label for="upload">Upload control visible</label>
                <input class="mb-1" type="checkbox"  value="{{step.upload}}" name="upload">
              <br/>  
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save</button>
              </div> 
        </form>
            </div>
        </div> <!-- end modal content-->
    </div> <!-- end modal dialog-->
</div>