{% extends 'base_page.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% block content %}
{% include 'create_project_template.html' %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                        <li class="breadcrumb-item active">Standard Workflows</li>
                    </ol>
                </div>
                <h4 class="page-title">Standard Workflows</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <button class="btn btn-danger mb-2" data-toggle="modal" data-target="#create_workflows"><i class="mdi mdi-plus-circle me-2"></i>Add Standard Workflow</button>
                        </div>
                        <div class="col-sm-8">
                            <div class="text-sm-end">
                                <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button>
                                <button type="button" class="btn btn-light mb-2">Export</button>
                            </div>
                        </div><!-- end col-->
                    </div>
                    <div class="table-responsive">
                        <table class="table table-centered w-100 dt-responsive nowrap" id="products-datatable">
                            <thead class="table-light">
                                <tr>
                                    <th class="all" style="width: 20px;">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="customCheck1">
                                            <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                        </div>
                                    </th>
                                    <th class="all">Status </th>
                                    <th>Description</th>
                                    <th>Steps</th>
                                    <th>Added Date</th>
                                    <th>Lead</th>
                                    <th style="width: 85px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for template in project_template %}
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="customCheck2">
                                            <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="m-0 d-inline-block align-middle font-16">
                                             <span class="badge bg-success">Active</span>
                                        </p>
                                    </td>
                                    <td>
                                        <a href="{% url 'display_steps' template.id %}">
                                        {{template.description}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'display_steps' template.id %}">
                                            {{template.get_step_count}}
                                        </a>
                                    </td>
                                    <td>
                                        {{template.added_date}}
                                    </td>
                                    <td>
                                        {{template.lead}}
                                    </td>
                                    <td class="table-action d-flex flex-row ">
                                        <a href="{% url 'edit_workflows' template.id %}" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                        <a href="#" class="action-icon"> <i class="mdi mdi-content-copy"></i></a>
                                        <a href="{% url 'delete_workflows' template.id %}" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
{% endblock %}